[Desktop Entry]
Type=Application
Exec=arduino
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Arduino IDE
Name=Arduino IDE
Comment[en_GB]=
Comment=
