[Desktop Entry]
Type=Application
Exec=google-chrome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Chrome
Name=Chromium
Comment[en_GB]=
Comment=
