[Desktop Entry]
Type=Application
Exec=virtualbox
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=VB
Name=VB
Comment[en_GB]=
Comment=
